<tr>
    <td bgcolor="#24346c" style="padding: 30px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
            <tr>
                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px;text-align: center;">
                    <p style="margin: 0;">
                        <a style="color: #ffffff; font-style: italic;text-decoration: none;" href="https://guided-compliance.com.au">Australian Financial Services Complaints Portal</a>
                         Powered by <a style="color: #ffffff; font-style: italic;text-decoration: none;" href="https://guiderdresolution.com">Guided
                            Resolution Pty Ltd</a>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>

        </td>
    </tr>
</table>
</body>
</html>