<div>
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="border-collapse: collapse; border: 1px solid #FAAD50;"
  >
    <tr>
      <td
        align="center"
        bgcolor="#24346c"
        style="padding: 10px;"
      >
        <a href="https://app.guided-compliance.com"><img
          src="https://app.guided-compliance.com.au/_nuxt/img/logo-big.0bc2a54.png"
          alt="logo"
          style="width: 100px;"
        ></a>
      </td>
    </tr>

    <%- body %>

    <tr>
      <td
        bgcolor="#24346c"
        style="padding: 30px 30px;"
      >
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="border-collapse: collapse;"
        >
          <tr>
            <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px;text-align: center;">
              <p style="margin: 0;">
                <a
                  style="color: #ffffff; font-style: italic;text-decoration: none;"
                  href="https://guided-compliance.com.au"
                >Australian Financial Services Complaints Portal</a><span>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;</span>
                Powered by <a
                  style="color: #ffffff; font-style: italic;text-decoration: none;"
                  href="https://guiderdresolution.com"
                >Guided Resolution Pty Ltd</a>
              </p>
            </td>
          </tr>
          <tr>
            <td />
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>